*.pyc
/Build_Webman_PKG.exe
/Edit_Param_SFO.exe
/FTP_Game_List.exe
/game_list.txt
/builds
/release
/resources/pkg/USRDIR/*
/resources/tools/scetool/EBOOT.BIN
/resources/tools/scetool/EBOOT.ELF
/resources/tools/util_generated_files/params.json

