*.pyc
Build_Webman_PKG.exe
Edit_Param_SFO.exe
FTP_Game_List.exe
webman-classics-maker.exe
game_list.txt
builds
release
.idea/
venv/
_work_dir
Webman-Classics-Maker.iml
settings/ftp_settings.cfg
game_list_data.json
resources/tools/util_scripts/_pyinstaller_and_release_scripts/build/webman-classics-maker.spec
resources/tools/util_scripts/_pyinstaller_and_release_scripts/build/webman-classics-maker/webman-classics-maker.exe.manifest
work_dir/
resources/tools/scetool/EBOOT.*
